Source: libvecpf
Section: libs
Maintainer: Breno Leitao <brenohl@br.ibm.com>
Priority: extra
Build-Depends: debhelper (>= 9), dh-autoreconf
Standards-Version: 3.9.6
Homepage: https://github.com/libvecpf/libvecpf

Package: libvecpf
Architecture: ppc64 ppc64el powerpc
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: This library extends ISO C printf so that it may print out vector data types.
 This library extends ISO C printf so that it may print out vector data types.
 The description of the extensions are in the AltiVec Technology Programming
 Interface Manual. Below is a paraphrasing of the extensions:
 .


Package: libvecpf-dev
Architecture: ppc64 ppc64el powerpc
Section: libdevel
Depends: libpaf-ebb0 (= ${binary:Version}), libpaf-dsc0 (= ${binary:Version}),  ${misc:Depends}
Description: Devevelopment files for libvecpf.
 This library extends ISO C printf so that it may print out vector data types.
 The description of the extensions are in the AltiVec Technology Programming
 Interface Manual. Below is a paraphrasing of the extensions:
 .
 Development files.
